node_modules
Dockerfile*
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
build
package
docker-compose*
LICENSE.txt
Makefile
helm-charts
.env
.idea
coverage*