@import "tailwindcss";

html,
body {
  font-family: 'Roboto Serif', 'Times New Roman', 'Georgia', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  color: var(--color-orange-950);
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.bg-paper {
  background-image: url(~/assets/img/background-paper.webp);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25em;
  width: max-content;
  max-width: 320px;
  position: absolute;
  bottom: -0.25em;
  transform: translateY(100%);
  padding: 0.75em;
  border-radius: 8px;
  background-color: var(--color-orange-50);
  z-index: 5;
}

.dropdown-menu a {
  color: inherit;
  text-decoration: none;
}

.dropdown-menu button {
  text-align: left;
}

.dropdown-menu button:hover,
.dropdown-menu a:hover {
  color: var(--color-emerald-600);
}
