@import "tailwindcss";

@layer theme {
  :root {
    --tg-theme-bg-color: #ffffff;
    --tg-theme-secondary-bg-color: #f1f1f1;
    --tg-theme-header-bg-color: #ffffff;
    --tg-theme-bottom-bar-bg-color: #ffffff;

    --tg-theme-button-color: #40a7e3;
    --tg-theme-button-text-color: #ffffff;

    --tg-theme-section-bg-color: #ffffff;
    --tg-theme-section-header-text-color: #168dcd;
    --tg-theme-section-separator-color: #e7e7e7;

    --tg-theme-text-color: #000000;
    --tg-theme-subtitle-text-color: #999999;
    --tg-theme-hint-color: #999999;
    --tg-theme-link-color: #168dcd;
    --tg-theme-accent-text-color: #168dcd;
    --tg-theme-destructive-text-color: #d14e4e;

    --tg-viewport-safe-area-inset-top: 20px;
    --tg-viewport-content-safe-area-inset-top: 20px;
  }
}

@layer utilities {
  .tg-bg {
    background-color: var(--tg-theme-bg-color);
  }
  .tg-secondary-bg {
    background-color: var(--tg-theme-secondary-bg-color);
  }
  .tg-header-bg {
    background-color: var(--tg-theme-header-bg-color);
  }
  .tg-bottom-bar-bg {
    background-color: var(--tg-theme-bottom-bar-bg-color);
  }
  .tg-section-bg {
    background-color: var(--tg-theme-section-bg-color);
  }
  .tg-border {
    border-color: var(--tg-theme-section-separator-color);
  }
  .tg-text {
    color: var(--tg-theme-text-color);
  }
  .tg-accent-text {
    color: var(--tg-theme-accent-text-color);
  }
  .tg-subtitle-text {
    color: var(--tg-theme-subtitle-text-color);
  }
  .tg-destructive-text {
    color: var(--tg-theme-destructive-text-color);
  }
  .tg-hint {
    color: var(--tg-theme-hint-color);
  }
  .tg-link {
    color: var(--tg-theme-link-color);
  }
  .tg-button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
  }
  .tg-section-header-text {
    color: var(--tg-theme-section-header-text-color);
  }
  .tg-section-separator {
    color: var(--tg-theme-section-separator-color);
  }

  .tg-safe-area {
    padding-top: var(--tg-viewport-safe-area-inset-top);
    padding-bottom: 0;
  }
  .tg-content-safe-area-top {
    padding-top: var(--tg-viewport-content-safe-area-inset-top);
  }
  .tg-content-safe-area {
    padding-top: var(--tg-viewport-content-safe-area-inset-top);
    padding-bottom: 200px;
  }
}
