html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
#app {
  /* Preserve scrolling behavior */
  overflow-y: auto;
}
#app::-webkit-scrollbar {
  display: none;
  width: 0;
}
