name: CI

on:
  push:
    paths-ignore:
      - ".md"
      - "docker/**"
      - ".github/**"
      - "!.github/workflows/ci.yml"
    branches:
      - main
  pull_request:
    paths-ignore:
      - "*.md"
      - "docker/**"
      - ".github/**"
      - "!.github/workflows/ci.yml"
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.18.0
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: ESLint
        run: pnpm run lint

      - name: Types
        run: pnpm run typecheck

      - name: Build
        run: pnpm run build
